.container-empty {
    box-sizing: border-box;
    color: var(--text-color);
    display: block;
    padding-top: 100px;
    // left: 0px;
    // right: 0px;
    text-align: center;
}
img{
    width: 30vmin;
        // mix-blend-mode:color;
}