@import '../variables.scss';

.container-home {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vw;
    background-attachment: fixed;

    z-index: 0;
    box-sizing: border-box;
    color: var(--text-color);
    display: block;
    font-size: 14px;
    height: 730px;
    left: 0px;
    right: 0px;
    line-height: 20px;
    padding-bottom: 67px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 269.797px;
    // position: absolute;
    text-align: center;
    text-size-adjust: 100%;
}

.section-home {
    box-sizing: border-box;
    color: var(--text-color);
    display: flex;
    place-items: center;
    flex-direction: column;
    padding-top: 100px;
    height: 730px;
    padding-top: 365px;
    padding-bottom: 365px;
    font-size: 25px;

    p {
        margin: 0;
    }

    a {
        margin-top: 20px;
        text-decoration: none;
        color: var(--text-color);
    }
}

@media (max-width: 767px) {
    .container-home {
        background-image: var(--background-image-mobile);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100vw;
        background-attachment: fixed;
    }

    .section-home p,
    a {
        font-size: 0.8em;
    }
}