@import '../variables.scss';

.mobile-menu,
.mobile-menu-exit {
  display: none;
    height: 20px;
    width: 35px;
    padding: 0px 5px 10px 10px;
}

.navbar {
  background-color: var(--nav);
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 99;

  .container-navbar {
    display: flex;
    place-content: space-between;
    align-items: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .logo {
    text-decoration: none;
    color: var(--text-color);
    font-size: 32px;
    // display: flex;
    // align-items: center;

    span {
      color: var(--primary-color);
    }
  }

  nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    // .btn-mode {
    //   width: fit-content;
    //   background-color: var(--nav);
    //   color: var(--text-color);
    //   font-size: 20px;
    // }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;

    }

    ul li {
      margin-left: 45px;
      user-select: none;

      a.resume {
        border: 3px solid;
        padding: 10px;
        border-color: var(--primary-color);
        border-radius: 7px;
        color: var(--primary-color);

        &:hover {
          position: relative;
          bottom: 2px;
          right: 2px;
          color: var(--select-color);
          border-color: var(--select-color);
          box-shadow: 5px 5px 0px var(--select-color);
        }
      }

      .sun {
        width: 20px;
        // margin-left: 25px;
        display: var(--display);
      }

      .moon {
        width: 20px;
        // margin-left: 25px;
        display: var(--display);
        position: relative;
        right: 45px;
      }
    }

    ul li a {
      text-decoration: none;
      color: var(--text-color);

      &:hover {
        color: var(--primary-color);
      }
    }

    // ul li .btn-mode {
    //   color: var(--text-color);
    //   padding: 0;

    //   &:hover {
    //     color: var(--primary-color);

    //   }
    // }
  }
}

@media (max-width: 767px) {

  .navbar {
    .container-navbar {
      .logo-container {
        margin: 0;
        
        .logo {
          font-size: 25px;
        }
      }
      
      .mobile-menu {
        display: block;
        position: fixed;
        top: 18px;
        right: 13px;
        z-index: var(--z-index);
        opacity: var(--opacity);
        // transition: transform 0.3s;    //I suck at css animations
        
        // &:active {
        //   transform: scaleY(0);
        // }
      }
      
      nav {
        .mobile-menu-exit {
          display: block;
          position: fixed;
          top: 18px;
          right: 13px;
          z-index: var(--z-index);
          opacity: var(--opacity);
          // transition: transform 0.3s;
          // transform-origin: 50% 50%;
          
          // &:active {
          //   transform: rotate(-370deg);
          // }
        }
        
        .primary-nav {
          display: flex;
          flex-direction: column;
          place-content: center;
          position: fixed;
          background-color: var(--nav);
          width: 75vw;
          height: 100vh;
          top: 57.777px;
          left: var(--left);
          font-size: 20px;
          overflow: hidden;
          opacity: 0.98;
          
          transition: left 0.3s;
          
          .resume-list {
            padding-left: 0;
          }
          
          li {
            width: fit-content;
            margin: 20px 0 20px 0;
            position: relative;
            bottom: 58px;

            .moon {
              bottom: 40px;
              right: 0px;
            }

              a {
                &:active {
                  color: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }
}