:root {
    --primary-color-light: #0018F1;
    --select-color-light: #0016d8;

    --primary-color-dark: #05C4D6;
    --select-color-dark: #00FFFF;

    --display-show: block;
    --display2-show: flex;
    --display-hide: none;

    --z-index-show: 900;
    --z-index-hide: 200;

    --left-show: 25vw; //75% show
    --left-hide: 110vw; //100% disappear

    --right-combo-show: -8px;
    --right-combo-main-show: 10px;
    --right-combo-hide: 14px;
    --right-combo-main-hide: -8px;

    --opacity-show: 1;
    --opacity-hide: 0;

    --background-color-light: white;
    --background-color2-light: #F6F8FC;
    --nav-light: #D3EEFF;
    --text-color-light: black;
    --text-color2-light: #5F6368;
    --select-text-color-light: white;
    --background-image-light: url(../Images/snow.jpg);
    --background-image-light-mobile: url(../Images/snow-mobile.jpg);
    --shadow-light: rgba(0, 0, 0, 0.2);

    --background-color-dark: #0E0E0E;
    --background-color2-dark: #1F1F1F;
    --nav-dark: #041F3C;
    --text-color-dark: #D1D5DB;
    --text-color2-dark: #CDC1C6;
    --select-text-color-dark: #F8F8F8;
    --background-image-dark: url(../Images/Kiln.jpg);
    --background-image-dark-mobile: url(../Images/kiln-mobile.jpg);
    --shadow-dark: rgba(0, 0, 0, 0.5);
}

.lightMode {
    --primary-color: var(--primary-color-light);
    --select-color: var(--select-color-light);
    --background-color: var(--background-color-light);
    --background-color2: var(--background-color2-light);
    --nav: var(--nav-light);
    --text-color: var(--text-color-light);
    --text-color2: var(--text-color2-light);
    --select-text-color: var(--select-text-color-light);
    // background: radial-gradient(#f2f2f2, #766094);
    --background-image: var(--background-image-light);
    --background-image-mobile: var(--background-image-light-mobile);
    --shadow: var(--shadow-light);

}

.darkMode {
    --primary-color: var(--primary-color-dark);
    --select-color: var(--select-color-dark);
    --background-color: var(--background-color-dark);
    --background-color2: var(--background-color2-dark);
    --nav: var(--nav-dark);
    --text-color: var(--text-color-dark);
    --text-color2: var(--text-color2-dark);
    --select-text-color: var(--select-text-color-dark);
    // background: radial-gradient(#818181, black);
    --background-image: var(--background-image-dark);
    --background-image-mobile: var(--background-image-dark-mobile);
    --shadow: var(--shadow-dark);
}

.show {
    --display: var(--display-show);
    --display2: var(--display2-show);
    --left: var(--left-show);
    --opacity: var(--opacity-show);
    --z-index: var(--z-index-show);
    --right-combo: var(--right-combo-show);
    --right-combo-main: var(--right-combo-main-show);
}

.hide {
    --display: var(--display-hide);
    --display2: var(--display-hide);
    --left: var(--left-hide);
    --opacity: var(--opacity-hide);
    --z-index: var(--z-index-hide);
    --right-combo: var(--right-combo-hide);
    --right-combo-main: var(--right-combo-main-hide);
}

.blur {
    overflow: hidden;
}