:root {
    --primary-color: #0f5486;
    --select-color: #1f9df7;

    --display-show: block;
    --display-hide: none;

    --background-color-light: white;
    --nav-light: #DED8E5;
    --text-color-light: black;
    --select-text-color-light: white;
    --background-image-light: url(./Images/snow.jpg);

    --background-color-dark: #0E0E0E;
    --nav-dark: #090B17;
    --text-color-dark: #D1D5DB;
    --select-text-color-dark: #F8F8F8;
    --background-image-dark: url(./Images/Kiln.jpg);
}

.lightMode {
    --background-color: var(--background-color-light);
    --nav: var(--nav-light);
    --text-color: var(--text-color-light);
    --select-text-color: var(--select-text-color-light);
    // background: radial-gradient(#f2f2f2, #766094);
    --background-image: var(--background-image-light)
}

.darkMode {
    --background-color: var(--background-color-dark);
    --nav: var(--nav-dark);
    --text-color: var(--text-color-dark);
    --select-text-color: var(--select-text-color-dark);
    // background: radial-gradient(#818181, black);
    --background-image: var(--background-image-dark)
}

.show {
    --display: var(--display-show)
}

.hide {
    --display: var(--display-hide)
}